.block-search {
    margin: 0 70px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    max-width: 1140px;
}

    @media (max-width: 768px) {
        .block-search {
            margin: 0 30px;
            margin-top: 80px;
        }
    }

    @media (max-width: 655px) {
        .block-search {
            flex-direction: column;
        }
    }

    @media (max-width: 560px) {
        .block-search {
            margin: 0 10px;
            margin-top: 80px;
        }
    }

.block-search__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.block-search__checkbox+.block-search__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    background-color: transparent;
    cursor: pointer;
}

.block-search__checkbox+.block-search__label::before {
    padding-right: 16px;
    content: '';
    display: inline-block;
    width: 36px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../images/smalltumboff.svg);
}

.block-search__checkbox:checked+.block-search__label::before {
    background-image: url(../../images/smalltumbon.svg);
}

.block-search__label {
    margin-right: 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

    @media (max-width: 560px) {
        .block-search__label {
            font-size: 11px;
        }
    }

.block-checkbox {
    display: flex;
    align-items: center;
    background: #2F2F2F;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

    @media (max-width: 655px) {
        .block-checkbox {
            margin: 0 auto;
            margin-top: 46px;
            background: none;

        }
    }

.search-form {
    max-width: 1140px;
    width: 100%;
    height: 72px;
    align-items: center;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background: #2F2F2F;
    display: grid;
    grid-template-columns: 1fr 60px 10px;
    gap: 30px;
}

    @media (max-width: 768px) {
        .search-form {
            gap: 15px;
        }
    }

    @media (max-width: 655px) {
        .search-form {
            border-top-right-radius: 9px;
            border-bottom-right-radius: 9px;
            grid-template-columns: minmax(180px, 1fr) 65px  26px;
            gap: 5px;
        }
    }

    @media (max-width: 450px) {
        .search-form {

        }
    }

.search-form__line {
    margin-left: 18px;
    padding: 0;
    padding-left: 42px;
    border: 0;
    background-color: #2F2F2F;
    background-image: url(../../images/icon__SearchForm.svg);
    background-repeat: no-repeat;
    background-position: left;
    color: #8B8B8B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.search-form__line:focus {
    background-image: none;
    padding-left: 20px;
}

    @media (max-width: 768px) {
        .search-form__line {
            padding-left: 46px;
        }
    }

    @media (max-width: 560px) {
        .search-form__line {
            font-size: 14px;
            background-image: none;
            padding-left: 0;
        }
    }

.search-form__submit {
    padding: 0;
    border: 0;
    width: 58.65px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #4285F4;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
}

.search-form__submit:hover {
    opacity: 0.5;
}

    @media (max-width: 655px) {
        .search-form__submit {
        }
    }

.search-form__border {
    width: 1px;
    height: 40px;
    background: #424242;
}

    @media (max-width: 768px) {
        .search-form__border {
        }
    }

    @media (max-width: 655px) {
        .search-form__border {
            margin: 0;
            width: 0;
            border: none;
        }
    }
